{% extends "layout.html" %}
{% block content %}
    <h1>Acerca de</h1>
    <p>Programación: David Guillén</p>
    <p>Diseño: David Guillén</p>
    <p>Fecha entrega: 24/04/2015</p>
    <p>Contacto: dghelprat at gmail dot com</p>
    <p><a href="{{ url_for('index') }}">Atrás</a></p>
{% endblock %}
