{% extends "layout.html" %}
{% block content %}
    <h1>Lugar: {{ place }}</h1>
    {% if data %}
    {% for d in data %}
    <p>{{ d }}: {{ data[d] }}</p>
    {% endfor %}
    {% endif %}
    <br /><a href="{{ request[Referer] }}">Atrás</a>
{% endblock %}
