{% extends "layout.html" %}
{% block content %}
    <h1>¿Cómo funciona el servicio?</h1>
    <ol>
    	<li>Dar de alta un nodo</li>
    	<p>Para dar de alta un nuevo nodo, hay que ir a la página de <a href="{{ url_for('insert') }}">insertar un nuevo nodo</a> e introducir un nombre que todavía no exista en el sistema.<br />También se puede elegir una contraseña para limitar el acceso a los datos del nodo.</p>
    	<li>Leer los datos almacenados en un nodo</li>
    	<p>Para leer los datos de un nodo ya existente, hay que ir a la página de <a href="{{ url_for('retrieve') }}">obtener datos</a> e introducir el nombre de un nodo (y su contraseña, si fue creado con una).</p>
    	<li>Añadir o actualizar la información de un nodo</li>
    	<p>Para añadir o actualizar la información almacenada en un nodo, el dispositivo correspondiente debe enviar sus datos a <i>{{ request.url_root }}retrieve/nombre_del_nodo</i>, en un mensaje POST y en formato JSON, además de la contraseña en caso de disponer de ella.</p>
    	<li>Eliminar un nodo del sistema</li>
    	<p>En este momento, la eliminación de un nodo que se haya añadido al sistema no es posible de forma automatizada; sin embargo, se puede enviar un <i>e-mail</i> al <a href="{{ url_for('about') }}">administrador del servicio</a>.</p>
    </ol>
    <br /><a href="{{ url_for('retrieve') }}">Atrás</a>
{% endblock %}
