{% extends "layout.html" %}
{% block content %}
    <h1>A simple sensor database</h1>
    <p>Una base de datos simple para sensores complejos!</p>
    <p><a href="{{ url_for('insert') }}">Dar de alta un nodo</a></p>
    <p><a href="{{ url_for('retrieve') }}">Obtener datos</a></p>
    <p><a href="{{ url_for('about') }}">Acerca de</a></p>
{% endblock %}
