{% extends "layout.html" %}
{% block content %}
	<h1>Dar de alta un nodo</h1>
	<p>Introducir un identificador (nombre, lugar) en el primer campo, y una contraseña (de ser necesaria) en el segundo campo.</p>
	<p>En caso de no introducir contraseña, el nodo será accesible (y modificable) por cualquiera.</p>
	<form method="POST" action="{{ url_for('insert') }}">
		{{ form.hidden_tag() }}
		<b>{{ form.place.label }}</b> {{ form.place(size=25) }}<br />
		{{ form.password.label }} {{ form.password(size=20) }}<br />
		{{ form.submit }}
	</form>
	<p><a href="{{ url_for('index') }}">Inicio</a></p>
{% endblock %}
