<!doctype html>
<html lang="en">
    <head>
        <title>Sensor info</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
