{% extends "layout.html" %}
{% block content %}
	<h1>Obtener datos</h1>
	<p>Introducir identificador (nombre, lugar) en el primer campo, y contraseña (de ser necesaria) en el segundo campo para leer los datos.</p>
	<form method="POST" action="{{ url_for('retrieve') }}">
		{{ form.hidden_tag() }}
		<b>{{ form.place.label }}</b> {{ form.place(size=25) }}<br />
		{{ form.password.label }} {{ form.password(size=20) }}<br />
		{{ form.submit }}
	</form>
	<p><a href="{{ url_for('index') }}">Atrás</a></p>
	<p><a href="{{ url_for('howto') }}">¿Cómo funciona el servicio?</a></p>
{% endblock %}
