{% extends "layout.html" %}
{% block content %}
    <h1>Nodo creado</h1>
    <p>Nodo {{ name }} creado satisfactoramente.</p>
    <p>En breve estará disponible para recibir información del nodo físico.</p>
    <p><a href="{{ url_for('index') }}">Inicio</a></p>
{% endblock %}
